@font-face {
  font-family: "Bahij_Plain";
  src: url(../fonts/Bahij_Plain.ttf);
}

@font-face {
  font-family: "Bahij_SemiBold";
  src: url(../fonts/Bahij_SemiBold.ttf);
}


body {
  font-size: 16px;
  font-family: "Bahij_Plain";
  -webkit-font-smoothing: antialiased;
  direction: rtl;
  color: #EAECEF;
  background: #e9e8e8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 500;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #f1734f;
}

a:hover {
  text-decoration: none;
  outline: 0;
  color: #e66744;
}

a:focus {
  text-decoration: none;
  outline: 0;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

em {
  font-style: normal;
}

abbr[title] {
  text-decoration: none;
  color: #F44336;
}

::placeholder {
  color: #6c757d
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-control {
  outline: unset !important;
  box-shadow: unset !important;
}

.form-control:focus {
  border-color: #969a9f;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #181a20;
  z-index: 9999;
  background: radial-gradient(at 10%, #202228, #202228, #181A20, #181A20);
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: calc(50% - 15px);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.btn-custom {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  text-align: center;
  color: #ff2938;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 26px;
  transition: all 0.3s;
}

.btn-custom:hover {
  background: none;
  color: #fff;
}

.container {}

/************************************/
/***** 02. Navigation area css  *****/
/************************************/

nav.navbar.main-menu {
  padding: 16px 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  background: #181A20;
}

.navbar-brand {
  height: auto;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0;
}

.navbar-brand img {
  height: 65px;
  transition: all 0.3s ease-in-out;
}

.navbar-right {
  margin-right: 0;
}

.main-nav {
  justify-content: flex-end;
}

nav.navbar.main-menu ul.nav>li>a {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 20px;
  line-height: 1em;
  letter-spacing: 0.05em;
  transition: all 0.3s ease-in-out;
}

nav.navbar.main-menu ul.nav>li>a.active {
  color: #ffc600;
}

nav.navbar.main-menu.sticky-header {
  background: #06122c !important;
  padding: 6px 0;
}

nav.navbar.main-menu.sticky-header .navbar-brand img {
  height: 46px;
}

.navbar-toggler {
  float: right;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  padding: 6px 10px;
  outline: 0;
  box-shadow: none;
  margin-top: 8px;
}

nav.navbar .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}

/************************************/
/*****   03. Slider area css    *****/
/************************************/

.banner {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 220px 0 40px;
  min-height: 100vh;
  background: #181A20;
}

.banner .row {
  position: relative;
  z-index: 1;
}

.header-content h2 {
  font-size: 65px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 18px;
}

.text-blue {
  color: #f1734f;
}

.text-lightblue {
  color: #c99e95;
}

.text-white {
  color: #EAECEF;
}

.header-content p {
  margin-top: 40px;
  font-size: 20px;
}

.counter-sec {

  margin-top: 50px;
}

.counter-sec h5 {
  font-size: 20px;
  line-height: inherit;
  color: #fcd535;
  margin-bottom: 10px;
  font-weight: normal;
}

.countdown-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.countdown-div .day,
.countdown-div .hour,
.countdown-div .min,
.countdown-div .sec {
  text-align: center;
  padding-bottom: 9px;
  width: 60px;
  background: #252832;
  border-radius: 7px;
}

.countdown-div .day .num,
.countdown-div .hour .num,
.countdown-div .min .num,
.countdown-div .sec .num {
  display: block;
  font-size: 28px;
}

.countdown-div .day .word,
.countdown-div .hour .word,
.countdown-div .min .word,
.countdown-div .sec .word {
  display: block;
  font-size: 15px;
  line-height: 15px;
}


.btn-booknow {
  background: #f1734f;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px 8px;
  border: 1px solid #f1734f;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 45px;
  transition: all 0.3s ease-in-out;
  width: max-content;
  display: block;
  font-family: 'Bahij_SemiBold';
}

.btn-booknow:hover {
  background: none;
  color: #f1734f;
}

/**************************************/
/*****   04. About us area css    *****/
/**************************************/

.section-title {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 60px;
  background: url(../images/white-divider.png) no-repeat bottom center;
}

.section-title h2 {
  font-size: 27px;
  margin-bottom: 0;
  font-family: 'Bahij_SemiBold';
}

.section-title p {
  color: #f1734f;
  font-size: 20px;
  font-weight: 500;
}

.products {
  padding-top: 40px;
  padding-bottom: 80px;
  background: #181A20;
}

.products .section-title {
  margin-bottom: 45px;
}

.about-entry p {
  color: #06122c;
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 1.5em;
}

.about-image {
  padding-top: 60px;
  text-align: right;
}

/**************************************/
/*****   05. Features area css    *****/
/**************************************/

.features {
  padding: 80px 0;
  background: #1E2026;
}

.features-image {
  text-align: center;
  margin-bottom: 100px;
}

.feature-single h3 {
  font-size: 96px;
  color: #f1734f;
  font-weight: 600;
  margin-bottom: 0;
}

.feature-single h4 {
  font-size: 24px;
  margin-bottom: 0;
}

.feature-single p {
  font-size: 14px;
  color: #818282;
  font-weight: 300;
}

/****************************************/
/***** 06. Related Product area css *****/
/****************************************/

.related-product {
  padding: 80px 0;
  background: #fff;
  color: #181a20;
}

.related-product .section-title {
  background: url(../images/blue-divider.png) no-repeat bottom center;
}

.related-single {
  margin-bottom: 80px;
}

.related-product-info {
  padding-top: 30px;
}

.related-product-info h3 {
  font-size: 35px;
  margin-bottom: 1em;
}

.related-product-info .widget-container,
.related-product-info .widget-container * {
  font-size: 17px;
  color: #181a20c9;
  font-weight: 300;
  line-height: 30px;
}

.related-product-image img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


/****************************************/
/*****   07. Testimonial area css   *****/
/****************************************/

.testimonial {
  padding: 80px 0;
  background: #1E2026;
}

.testimonial .section-title {
  background: url(../images/white-divider.png) no-repeat bottom center;
}

.testimonial .section-title p {
  color: #ffc600;
}

.testimonial .section-title h2 {
  color: #fefefe;
}

.testimonial-single {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.testimonial-single p {
  color: #eaecefb8;
  font-size: 19px;
  margin-bottom: 30px;
}

.ratting {
  color: #ffc600;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}

.ratting:before {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.2);
  margin-left: -40px;
}

.testimonial-single h3 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.testimonial-single h3 span {
  display: block;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  padding-top: 6px;
}

.testimonial-pagination {
  text-align: center;
  padding-top: 20px;
}

.testimonial-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}

.testimonial-pagination .swiper-pagination-bullet-active {
  background: #f1734f;
}

/*******************************************/
/*****     10. Contact us area css     *****/
/*******************************************/

.contactus {
  padding: 80px 0;
  background: #181A20;
}

.contact-about {
  padding-bottom: 30px;
}

.contact-about p {
  color: #bbbbbb;
  font-weight: 300;
  line-height: 1.5em;
}

.contact-info-single h3 {
  color: #06122c;
  font-size: 18px;
}

.contact-info-single p {
  color: #bbbbbb;
  font-weight: 300;
  line-height: 1.5em;
}

.contact-form .form-control {
  box-shadow: none;
  height: auto;
  padding: 10px 14px;
  border: 1px solid #474D57;
  outline: 0;
  resize: none;
  font-size: 14px;
  background: unset;
  color: #EAECEF;
  direction: rtl;
}

.btn-contact {
  background: #f1734f;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 30px;
  border: 1px solid #f1734f;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.btn-contact:hover {
  background: none;
  color: #f1734f;
}

.with-errors ul {
  margin: 0;
  color: #a94442;
}

/***************************************/
/*****     11. Footer area css     *****/
/***************************************/

footer {
  padding: 45px 0;
  text-align: center;
  background: #181A20;
}

.footer-logo {}

.footer-menu {
  margin-top: 30px;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul li {
  display: inline-block;
  text-transform: uppercase;
}

.footer-menu ul li a {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.04em;
  padding: 0 6px;
}

.footer-menu ul li a:hover {
  color: #ffc600;
}

.footer-social {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #fff;
  text-align: center;
  color: #06122c;
  font-size: 20px;
  padding-top: 5px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.footer-social a:hover {
  background: #f1734f;
  color: #fff;
}

.footer-siteinfo {
  margin-top: 30px;
}

.footer-siteinfo p {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.flex-package {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.flex-package .product {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #474D57;
  background: #21242c;
  padding: 12px;
  padding-bottom: 16px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.flex-package .product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.flex-package .product .prices {
  text-align: center;
}

.flex-package .product .prices a {
  color: #EAECEF;
  margin-bottom: 5px;
  display: block;
}

.flex-package .product .prices p {
  margin: 0;
  color: #eaecefa1;
}

.flex-package .product .prices p b {
  font-family: "Bahij_SemiBold";
}

.flex-package .product .prices .add-cart {
  margin: 0 auto;
  margin-top: 15px;
  background: #ea6f53;
  border: 1px solid #ea6f53;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 17px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.flex-package .product .prices .add-cart:hover {
  background: unset;
  color: #ea6f53;
}

.slider-image img {
  max-height: 650px;
}

.feature-single {
  text-align: center;
}

.accordion {
  margin-top: 60px;
}

.accordion-item {
  border: 0;
  margin-bottom: 16px;
  border-radius: 12px !important;
  overflow: hidden;
  background: rgb(41 44 54);
  color: inherit;
}

.accordion-item:hover {
  background: rgb(46 50 62);
}

.accordion-button {
  border-radius: 0 !important;
  background: unset !important;
  padding: 16px 24px;
  color: #EAECEF !important;
  gap: 16px;
  font-size: 19px;
  box-shadow: unset !important;
}

.accordion-button span {
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2B3139;
  border-radius: 7px;
  font-size: 18px;
  background: #1e2026;
  padding-top: 4px;
}

.accordion-button::after {
  margin: 0;
  margin-right: auto;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\f64d";
  background-image: unset !important;
  border-radius: 50%;
  font-family: bootstrap-icons !important;
  transition: unset;
  font-weight: bold;
}

.accordion-body {
  padding: 2px 72px 16px;
  color: #d0d8e396;
  font-size: 18px;
}

.accordion-item:hover .accordion-button::after {
  background: #f1734f;
  color: #ffffff;
}

.accordion-item:has(> .accordion-collapse.collapse.show) {
  background: rgb(46 50 62);
}

.accordion-item:has(> .accordion-collapse.collapse.show) .accordion-button::after {
  background: #f1734f;
  content: "\f63b";
  color: #ffffff;
}

.brands {
  padding: 80px 0;
  background: #fff;
}

.brands .section-title {
  background: url(../images/blue-divider.png) no-repeat bottom center;
}

.brands .section-title h2 {
  color: #181a20;
}

.flax-brands {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.flax-brands img {
  height: 130px;
}


.feature-box .ft-box {
  text-align: center;
}

.feature-box [class^='col-']:last-child .ft-box {
  margin-bottom: 0;
}

.feature-box .ft-box img {
  height: 65px;
  margin-bottom: 20px;
}

.feature-box .ft-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: 'Bahij_SemiBold';
}

.feature-box .ft-box p {
  margin: 0;
  color: #181a20c9;
}

.left-nav {
  display: flex;
  gap: 20px;
}

.left-nav .btn {
  background: #ea6f53;
  border: 1px solid #ea6f53;
  color: #fff;
  padding: 6px 24px;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 19px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.left-nav .btn i {
  display: flex;
}

.left-nav .btn:hover {
  background: unset;
  color: #ea6f53;
}

.left-nav .lang {
  background: unset;
  color: #ea6f53;
}

.left-nav .lang:hover {
  background: #21242c;
}

.left-nav .cart-drop {
  padding: 2px 12px;
  position: relative;
}

.left-nav .cart-drop i {
  font-size: 24px;
}

.left-nav .cart-drop span {
  width: 22px;
  height: 22px;
  background: #414656;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -8px;
  border-radius: 50%;
  font-size: 14px;
}

.left-nav .login-btn {
  font-size: 18px;
}

.left-nav .login-btn i {
  display: none;
}

.number-people {
  background: #040404;
  border: 1px solid #4e2620;
  border-radius: 10px;
  width: max-content;
  padding: 14px 50px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 2;
}

.number-people h4 {
  font-size: 18px;
}

.number-people .count-box {
  font-size: 29px;
  font-family: 'Bahij_SemiBold';
  color: #ea6f53;
}

.number-people .count-box p {
  margin: 0;
  display: flex;
  direction: ltr;
  justify-content: center;
  gap: 5px;
}

.number-people .count-box p span {
  width: 30px;
  height: 36px;
  line-height: 40px;
  background: #181a20;
  border-radius: 5px;
}

.cart-sec {
  display: flex;
  gap: 30px;
}

.cart-sec .cart-dts {
  width: 100%;
}

.cart-sec .cart-dts ul li {
  display: flex;
  gap: 25px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 16px;
}

.cart-sec .cart-dts ul li:last-child {
  margin: 0;
}

.cart-sec .cart-dts .p-img {
  display: block;
}

.cart-sec .cart-dts .p-img img {
  height: 135px;
  object-fit: contain;
  width: 100%;
  min-width: 135px;
}

.cart-sec .cart-dts .p-dts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-sec .cart-dts .p-dts>h4 {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.cart-sec .cart-dts .p-dts .prodcut-price {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.cart-sec .cart-dts .p-dts .prodcut-price .new-price {
  margin: 0;
  font-size: 24px;
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 32px;
}

.cart-sec .cart-dts .p-dts .prodcut-price .new-price em {
  font-size: 17px;
}

.cart-sec .cart-dts .p-dts .prodcut-price .old-price {
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.cart-sec .cart-dts .p-dts .prodcut-price .old-price b {
  font-weight: normal;
  text-decoration: line-through;
  color: #181a20ad;
  font-size: 18px;
}

.cart-sec .cart-dts .p-dts .prodcut-price .old-price span {
  color: #107e4a;
  line-height: 18px;
  font-size: 15px;
  display: flex;
  gap: 5px;
  background: #4caf501a;
  padding: 2px 5px;
  border-radius: 2px;
  font-family: 'Bahij_SemiBold';
}

.cart-sec .cart-dts .p-dts .prodcut-price .old-price span em {
  letter-spacing: .5px;
}

.cart-sec .cart-dts .p-dts .btm-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #ecedeb;
  padding-top: 16px;
  margin-top: auto;
  gap: 14px;
}

.cart-sec .cart-dts .p-dts .btm-part .flex-box {
  display: flex;
  gap: 15px;
  align-items: center;
}

.cart-sec .cart-dts .p-dts .btm-part .flex-box .t-p {
  margin-bottom: 0;
  font-size: 16px;
  display: flex;
  gap: 5px;
  font-weight: normal;
  font-family: 'Bahij_SemiBold';
}

.cart-sec .cart-dts .p-dts .btm-part .p-quentity {
  margin-top: 0;
}

.cart-sec .cart-dts .p-dts .btm-part .p-quentity select {
  border: 0;
  box-shadow: unset;
  background-color: unset;
  padding: 0 0.75rem 0 2.25rem;
}

.cart-sec .cart-dts .p-dts .btm-part .delete-from-cart {
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 15px;
  font-family: 'Bahij_SemiBold';
  color: inherit;
}

.cart-sec .cart-dts .p-dts .btm-part .delete-from-cart:hover {
  color: #dc675a;
}

.cart-sec .cart-dts .p-dts .btm-part .delete-from-cart svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.cart-sec .cart-total {
  width: 385px;
  min-width: 385px;
}

.coupon {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
}

.coupon input {
  border: 1px solid #ddd;
  padding: 4px 8px;
  border-radius: 4px;
  width: 100%;
  background: unset;
  outline: unset;
}

.coupon input:focus {
  border: 1px solid #181a20;
}

.coupon button {
  padding: 2px 10px;
  border-radius: 6px;
  background: #e36b57;
  font-size: 15px;
  border: 1px solid #e36b57;
  transition: .3s;
  color: #fff;
}

.coupon button:hover {
  color: #e36b57;
  background: unset;
}

.cart-sec .cart-total .totals-div {

  background: #ffffff;

  padding: 20px 25px;

  border-radius: 5px;
}

.totals-div h5 {
  font-weight: normal;
  margin-bottom: 15px;
  font-family: 'Bahij_SemiBold';
}

.totals-div h6 {
  display: flex;
  font-weight: normal;
  color: #181a20b3;
}

.totals-div h6 em {
  margin-right: 7px;
}

.totals-div h6 p {
  margin: 0;
  margin-right: auto;
  display: flex;
  gap: 4px;
  font-size: 17px;
}

.totals-div h6 span {
  font-size: 13px;
}

.totals-div .discount-coupon p {
  color: #107e4a;
  font-family: 'Bahij_SemiBold';
}

.totals-div .total-price {
  border-top: 1px dashed #ddd;
  padding-top: 14px;
  margin-top: 20px;
  font-size: 19px;
  font-family: 'Bahij_SemiBold';
  align-items: center;
  color: #181a20;
  margin-bottom: 12px;
}

.totals-div .total-price p {
  font-size: 20px;
  font-family: 'Bahij_SemiBold';
}

.totals-div .total-price p span {
  font-size: 18px;
  font-family: 'Bahij_Plain';
}

.totals-div .continue-checkout {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.CartPage__disclaimer {
  margin-top: 20px;
  text-align: center;
}

.tax-t {
  margin: 0;
  color: #181a20b3;
  font-size: 15px;
  margin-top: -5px;
}

.title-page {
  margin-bottom: 35px;
}

.pd-page {
  padding: 145px 0 70px;
  color: #181a20;
  min-height: calc(100vh - 275px);
}

.checkout-parts {
  display: flex;
  gap: 30px;
  align-items: start;
}

.checkout-parts .right-part {
  width: 100%;
}

.checkout-parts .list-steps li {
  background: #fff;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.checkout-parts .list-steps li h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

.checkout-parts .list-steps li .flex-input {
  position: relative;
}

.checkout-parts .list-steps li .flex-input input {
  padding-left: 80px;
}

.checkout-parts .list-steps li .flex-input span {
  position: absolute;
  left: 15px;
  top: 8px;
  direction: ltr;
  border-right: 1px solid #ddd;
  padding-right: 13px;
}

.checkout-parts .list-steps li .map-part iframe {
  width: 100%;
  height: 180px;
}

.checkout-parts .list-steps li .map-part .current-location-btn {
  padding: 10px 15px;
  background: #fff;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 16px rgb(0 0 0/10%);
  border: 1px solid #ededed;
}

.checkout-parts .right-part .btn-booknow {
  min-width: 100px;
}

.choose-payment {
  display: none;
}

.choose-payment .list-payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.choose-payment .list-payment .checkout-tab {
  width: 100%;
}

.choose-payment .list-payment .checkout-tab input {
  display: none;
}

.choose-payment .list-payment .checkout-tab label {
  border: 1px solid #ddd;
  padding: 12px 15px;
  width: 100%;
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  transition: .2s;
  font-size: 17px;
}

.choose-payment .list-payment .checkout-tab label span {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-payment .list-payment .checkout-tab label img {
  height: 28px;
  width: calc(100% - 34px);
  object-fit: contain;
  object-position: right;
}

.choose-payment .list-payment .checkout-tab input:checked+label {
  border: 1px solid #ea6f53;
  box-shadow: inset 0 0 0 1px #ea6f53;
}

.choose-payment .list-payment .checkout-tab input:checked+label span {

  border-color: #ea6f53;
}

.choose-payment .list-payment .checkout-tab input:checked+label span::after {
  content: "";
  width: 12px;
  height: 12px;
  position: relative;
  display: block;
  border-radius: 50%;
  background: #ea6f53;
}

.choose-payment .list-payment .checkout-tab label:hover {
  border: 1px solid #f40853;
}

.checkout-parts .left-part {
  width: 385px;
  min-width: 385px;
}

.checkout-parts .left-part .products-list {
  background: #fff;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.left-part .products-list li {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  border-bottom: 1px solid #dddddd69;
  padding-bottom: 10px;
}

.left-part .products-list li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.left-part .products-list li a {
  height: 55px;
  width: 64px;
  min-width: 64px;
}

.left-part .products-list li a img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.left-part .products-list li .dts-prd {
  width: 100%;
}

.left-part .products-list li .dts-prd h4 {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 17px;
}

.left-part .products-list li .dts-prd .price-qu {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-part .products-list li .dts-prd .price-qu p {
  margin: 0;
  font-size: 18px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.left-part .products-list li .dts-prd .price-qu p em {
  font-size: 15px;
}

.left-part .products-list li .dts-prd .price-qu .qu-checkout {
  font-weight: normal;
  font-size: 16px;
  display: flex;
  gap: 6px;
  margin: 0;
}

.checkout-parts .left-part .totals-div {
  background: #fff;
  padding: 20px 25px;
  border-radius: 5px;
}

.line {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
  display: block;
  height: 15px;
  margin: 30px 0 15px;
}

.line::after {
  content: '';
  background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0), #ffffff);
  display: block;
  height: 15px;
}

.checkout-parts .left-part .CartPage__disclaimer {
  display: flex;
  gap: 8px;
  font-size: 15px;
  justify-content: flex-start;
}

.checkout-parts .left-part .CartPage__disclaimer svg {
  position: relative;
  top: 4px;
}

.checkout-parts .left-part .p-confirm {
  color: #606674;
  margin-bottom: 0;
  font-size: 15px;
  display: flex;
  gap: 8px;
}

.checkout-parts .left-part .p-confirm i {
  min-width: 25px;
  position: relative;
  top: 4px;
  font-size: 25px;
  display: flex;
}

.checkout-parts .left-part .p-confirm a {
  color: #272a32;
}

.checkout-parts .left-part .p-confirm a:hover {
  color: #dc675a;
}

.product-details {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
}

.product-details .g-d-sec {
  display: flex;
  gap: 70px;
  align-items: center;
}

.product-details .g-view {
  width: 500px;
  min-width: 500px;
}

.product-details .g-view .view-div {
  margin-bottom: 30px;
}

.product-details .g-view .view-img img {
  height: 370px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.product-details .g-view .thumbs img {
  height: 100px;
  margin: 0 auto;
  display: block;
}

.product-details .g-view .thumbs .swiper-slide {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.product-details .g-view .thumbs .swiper-slide-thumb-active {
  border-color: #181a20;
}

.product-details .main-dts {
  width: 100%;
}

.product-details .main-dts .p-name {
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  font-family: 'Bahij_SemiBold';
}

.product-details .main-dts .p-price {
  border-top: 1px solid #ededed;
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}

.product-details .main-dts .p-price .n-price {
  margin: 0;
  font-size: 34px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #ea6f53;
  line-height: 34px;
  font-family: 'Bahij_SemiBold';
}

.product-details .main-dts .p-price .n-price em {
  font-size: 17px;
}

.product-details .main-dts .p-price .o-price {
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 17px;
}

.product-details .main-dts .p-price .o-price b {
  font-weight: normal;
  text-decoration: line-through;
  color: #7a808f;
}

.product-details .main-dts .p-price .o-price span {
  color: #12a05c;
  line-height: 18px;
  font-size: 16px;
  display: flex;
  gap: 5px;
  font-family: 'Bahij_SemiBold';
}

.product-details .main-dts .tax {
  font-size: 15px;
  color: #7a808f;
}

.product-details .main-dts .btn-booknow {
  width: 400px;
  max-width: 100%;
  margin: 0;
  margin-top: 50px;
}

.product-details .main-dts .flex-box {
  margin-bottom: 15px;
  margin-top: 42px;
}

.product-details .main-dts .flex-box .t-p {
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Bahij_SemiBold';
}

.p-quentity {
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;
  margin-top: 20px;
}

.p-quentity .qty-btn {
  border: 0;
  line-height: unset;
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 7px;
  background: #181a20;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  padding-top: 5px;
}

.p-quentity .input-qty {
  width: 95px;
  text-align: center;
  padding: 5px;
  outline: 0;
  font-family: 'Bahij_SemiBold';
  font-size: 20px;
  border-radius: 4px;
  border: 0;
  background: unset;
}

.more-product-dts {
  margin-top: 65px;
}

.more-product-dts .line {
  margin: 0;
  margin-bottom: 30px;
}

.more-product-dts .title {
  font-size: 23px;
  font-family: 'Bahij_SemiBold';
  margin-bottom: 20px;
}

.more-product-dts .desc h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 4px;
}

.more-product-dts .desc h3:last-child {
  margin-top: 30px;
}

.more-product-dts .desc p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 30px;
}

.more-product-dts .desc h4 {
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 10px;
}

.more-product-dts .desc ul li {
  padding: 10px 0;
}

.more-product-dts .desc ul img {
  margin-left: 10px;
}

.login-box {
  width: 430px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}

.login-box .login-heading {
  margin-bottom: 30px;
}

.login-box .login-heading h3 {
  font-size: 25px;
  font-family: "Bahij_SemiBold";
}

.login-box .login-heading p {
  margin: 0;
  color: #181a20c9;
  font-size: 17px;
}

.login-box .password-div {
  position: relative;
}

.login-box .password-div input {
  padding-left: 40px;
}

.login-box .password-div i {
  position: absolute;
  left: 12px;
  top: 7px;
  font-size: 20px;
  cursor: pointer;
}

.login-box .forgot-password {
  text-align: left;
  display: block;
}

.login-box .btn-booknow {
  width: 100%;
  margin-top: 20px;
}

.login-box .register-link {
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.mt-7 {
  margin-top: 70px;
}