@media (max-width:1280px) {
  .banner {
    padding-top: 190px;
  }

  .slider-image img {
    max-height: 500px;
  }

  .header-content h2 {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .section-title h2 {
    font-size: 24px;
  }

  .feature-single h3 {
    font-size: 80px;
  }

  .feature-single h4 {
    font-size: 21px;
  }

  .related-product-info h3 {
    font-size: 30px;
  }

}

@media (max-width:1200px) {
  .product-details .g-d-sec {
    gap: 30px;
  }

  .product-details .g-view {
    width: 400px;
    min-width: 400px;
  }

  .product-details .main-dts .btn-booknow {
    width: 100%;
  }

  .product-details .g-view .view-img img {
    height: 310px;
  }

  .product-details .g-view .thumbs img {
    height: 75px;
  }

  .cart-sec .cart-dts ul li {
    gap: 16px;
  }

  .title-page {
    margin-bottom: 30px;
  }

  .cart-sec .cart-dts .p-img img {
    height: 100px;
    min-width: 100px;
  }

  .cart-sec .cart-dts .p-dts>h4 {
    margin-bottom: 10px;
  }

  .cart-sec .cart-dts .p-dts .btm-part {
    padding-top: 12px;
    margin-top: 16px;
  }

  .cart-sec .cart-dts .p-dts .prodcut-price .new-price {
    font-size: 22px;
    line-height: 30px;
  }

  .cart-sec .cart-dts .p-dts .prodcut-price {
    gap: 12px;
  }

  .cart-sec .cart-dts .p-dts .prodcut-price .old-price b {
    font-size: 16px;
  }

  .cart-sec .cart-total .totals-div,
  .checkout-parts .left-part .totals-div {
    padding: 20px;
  }

  .cart-sec .cart-total,
  .checkout-parts .left-part {
    width: 330px;
    min-width: 330px;
  }

  .totals-div h5 {
    font-size: 18px;
  }

  .totals-div .total-price {
    font-size: 18px;
  }

  .totals-div .total-price p {
    font-size: 19px;
  }

  .cart-sec {
    gap: 20px;
  }

  .totals-div .continue-checkout {
    padding: 8px;
    font-size: 17px;
    border-radius: 8px;
  }
}

@media (max-width:992px) {
  .banner {
    padding-top: 165px;
    min-height: unset;
  }

  .header-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .header-content p {
    margin-top: 30px;
    font-size: 18px;
  }

  .counter-sec {
    margin-top: 35px;
  }

  .countdown-div .day .num,
  .countdown-div .hour .num,
  .countdown-div .min .num,
  .countdown-div .sec .num {
    font-size: 22px;
  }

  .countdown-div .day .word,
  .countdown-div .hour .word,
  .countdown-div .min .word,
  .countdown-div .sec .word {
    font-size: 14px;
  }

  .countdown-div .day,
  .countdown-div .hour,
  .countdown-div .min,
  .countdown-div .sec {
    padding-bottom: 8px;
    width: 50px;
  }

  .flex-package {
    grid-template-columns: 1fr 1fr;
  }

  .feature-single h3 {
    font-size: 65px;
  }

  .feature-single h4 {
    font-size: 21px;
  }

  .related-product-info h3 {
    font-size: 23px;
  }

  .container {
    max-width: 100%;
    padding: 0 30px;
  }

  .feature-box .ft-box {
    margin-bottom: 40px;
  }

  .feature-box .ft-box img {
    height: 55px;
  }

  .feature-box .ft-box h3 {
    font-size: 20px;
  }

  .related-product {
    padding-bottom: 40px;
  }

  .number-people {
    position: unset;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .product-details .g-view {
    width: 295px;
    min-width: 295px;
  }

  .product-details .g-view .view-img img {
    height: 290px;
  }

  .product-details .g-view .thumbs img {
    height: 60px;
  }

  .product-details .main-dts .p-price {
    padding-top: 16px;
    margin-top: 16px;
    gap: 15px;
  }

  .product-details .main-dts .flex-box {
    margin-bottom: 0;
    margin-top: 35px;
  }

  .product-details .main-dts .flex-box .t-p {
    font-size: 18px;
  }

  .product-details .main-dts .btn-booknow {
    margin-top: 35px;
  }

  .more-product-dts .title {
    font-size: 22px;
  }

  .product-details .main-dts .p-name {
    font-size: 21px;
    line-height: 30px;
  }

  .product-details .main-dts .p-price .n-price {
    font-size: 30px;
    line-height: 32px;
  }

  .p-quentity {
    margin-top: 12px;
  }

  .product-details .g-d-sec {
    gap: 20px;
  }

  .title-page {
    font-size: 25px;
  }

  .cart-sec {
    flex-direction: column;
  }

  .cart-sec .cart-total,
  .checkout-parts .left-part {
    width: 100%;
    min-width: unset;
  }

  .checkout-parts {
    gap: 16px;
    flex-direction: column;
  }

  .checkout-parts .left-part .p-confirm i {
    position: unset;
  }

  .checkout-parts .list-steps li h3 {
    font-size: 20px;
}

}

@media (max-width:768px) {
  .banner {
    padding-top: 140px;
  }

  .header-content {
    text-align: center;
  }

  .header-content h2 {
    font-size: 36px;
    font-style: normal;
  }

  .countdown-div {
    justify-content: center;
  }

  .slider-image img {
    max-height: 350px;
    margin: 0 auto;
    display: block;
    margin-top: 35px;
  }

  .left-nav .btn {
    padding: 5px 20px;
    font-size: 18px;
  }

  .left-nav .login-btn {
    font-size: 17px;
  }

  .left-nav .cart-drop {
    padding: 2px 12px;
  }

  .feature-single {
    text-align: center;
    margin-bottom: 30px;
  }

  .section-title h2 {
    font-size: 21px;
  }

  .section-title p {
    font-size: 19px;
    margin-bottom: 9px;
  }

  .features {
    padding: 60px 0;
  }

  .feature-single h3 {
    font-size: 55px;
  }

  .feature-single h4 {
    font-size: 20px;
  }

  .section-title {
    margin-bottom: 50px;
  }

  .accordion {
    margin-top: 35px;
  }

  .accordion-button {
    padding: 12px 20px;
    font-size: 17px;
    line-height: 26px;
  }

  .accordion-body {
    padding: 2px 68px 16px;
    font-size: 17px;
  }

  .accordion-button::after {
    width: 32px;
    height: 32px;
  }

  .accordion-item {
    border-radius: 10px !important;
  }

  .related-product-image img {
    max-height: 300px;
  }

  .related-single {
    margin-bottom: 40px;
  }

  .testimonial-single p {
    font-size: 17px;
  }

  .testimonial-single h3 {
    font-size: 17px;
  }

  .flax-brands img {
    height: 90px;
  }

  .product-details .g-d-sec {
    gap: 45px;
    flex-direction: column;
  }

  .product-details .g-view {
    width: 100%;
    min-width: unset;
  }

  .container {
    padding: 0 15px;
  }

  .title-page {
    font-size: 23px;
    margin-bottom: 20px;
}

}

@media (max-width:576px) {
  .header-content h2 {
    font-size: 30px;
  }

  .counter-sec h5 {
    font-size: 18px;
  }

  .countdown-div .day,
  .countdown-div .hour,
  .countdown-div .min,
  .countdown-div .sec {
    padding: 3px 0 6px;
  }

  .accordion-button {
    font-size: 16px;
    line-height: 24px;
  }

  .accordion-body {
    font-size: 15px;
  }

  .feature-single h3 {
    font-size: 50px;
  }

  .feature-single h4 {
    font-size: 18px;
  }

  .related-product-info .widget-container * {
    font-size: 15px;
  }

  .related-product {
    text-align: center;
    padding-top: 45px;
  }

  .section-title h2 {
    font-size: 18px;
    line-height: 28px;
  }

  .section-title p {
    font-size: 16px;
  }

  .related-product-image img {
    max-height: 200px;
  }

  .flex-package {
    grid-template-columns: 1fr;
  }

  .navbar-brand img {
    height: 55px;
  }

  .left-nav .btn {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .left-nav .cart-drop i {
    font-size: 22px;
  }

  .counter-sec {
    margin-top: 30px;
  }

  .countdown-div .day .num,
  .countdown-div .hour .num,
  .countdown-div .min .num,
  .countdown-div .sec .num {
    font-size: 20px;
  }

  .slider-image img {
    max-height: 300px;
  }

  .left-nav {
    gap: 12px;
  }

  .flex-package .product .prices .add-cart {
    font-size: 16px;
    border-radius: 8px;
  }

  .flex-package .product .prices p {
    font-size: 16px;
  }

  .accordion-button span {
    width: 30px;
    height: 30px;
    min-width: 30px;
    font-size: 15px;
  }

  .related-product-info h3 {
    font-size: 18px;
  }

  .related-product-info {
    padding-top: 0px;
  }

  .feature-box .ft-box img {
    height: 50px;
  }

  .feature-box .ft-box h3 {
    font-size: 18px;
  }

  .testimonial-single p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .btn-contact {
    font-size: 16px;
  }

  .flax-brands img {
    height: 75px;
  }

  .footer-social a {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }

  .section-title {
    margin-bottom: 30px;
  }

  .contactus {
    padding: 45px 0;
  }

  .testimonial {
    padding: 45px 0;
  }

  .features {
    padding: 30px 0;

  }

  .accordion {
    margin-top: 40px;
  }

  .products {
    padding-bottom: 30px;
  }

  .banner {
    padding: 120px 0 20px;
  }

  .related-single {
    margin-bottom: 50px;
  }

  .brands {
    padding: 45px 0;
  }

  .flax-brands {
    margin-bottom: 0px !important;
  }

  .flex-package .product img {
    height: 160px;
    margin-bottom: 16px;
  }

  .login-box .login-heading h3 {
    font-size: 22px;
  }

  .cart-sec .cart-dts .p-dts .prodcut-price .new-price {
    font-size: 21px;
  }

  .cart-sec .cart-dts .p-dts .prodcut-price .new-price em {
    font-size: 16px;
  }

  .cart-sec .cart-dts .p-dts .btm-part .flex-box {
    gap: 10px;
  }

  .pd-page {
    padding: 125px 0 70px;
  }

  .mb-3>label {
    font-size: 15px;
  }

  .cart-sec .cart-total .totals-div,
  .checkout-parts .left-part .totals-div {
    padding: 16px;
}

.checkout-parts .list-steps li {
  padding: 16px;
  padding-bottom: 35px;
}

.checkout-parts .list-steps li .map-part .current-location-btn {
  padding: 8px 15px;
}

.choose-payment .list-payment .checkout-tab label img {
  height: 24px;
}

}

@media (max-width:450px) {
  .left-nav .login-btn {
    font-size: 0;
    gap: 0;
  }

  .left-nav .login-btn i {
    display: flex;
    font-size: 22px;
  }

  .header-content h2 {
    font-size: 26px;
  }

  .slider-image img {
    max-height: 250px;
  }

  .accordion-button {
    padding: 10px 15px;
    gap: 10px;
  }

  .accordion-button::after {
    width: 28px;
    height: 28px;
  }

  .accordion-body {
    padding: 15px;
  }

  .feature-single h4 {
    font-size: 17px;
  }

  .number-people .count-box {
    font-size: 26px;
  }

  .number-people .count-box p span {
    height: 32px;
    line-height: 36px;
  }

  .feature-single h3 {
    font-size: 40px;
  }

  .pd-page {
    padding-bottom: 40px;
    min-height: 300px;
  }

  .btn-booknow {
    padding: 7px;
    font-size: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .login-box .login-heading h3 {
    font-size: 20px;
  }

  .login-box .login-heading p {
    font-size: 16px;
  }

  .product-details .g-view .thumbs img {
    height: 55px;
  }

  .product-details .g-view .view-img img {
    height: 250px;
  }

  .product-details .main-dts .p-name {
    font-size: 19px;
  }

  .product-details .main-dts .p-price {
    margin-top: 10px;
    row-gap: 8px;
  }

  .product-details .main-dts .p-price .n-price {
    font-size: 27px;
  }

  .product-details .main-dts .flex-box {
    margin-top: 20px;
  }

  .product-details .main-dts .flex-box .t-p {
    font-size: 17px;
  }

  .p-quentity .qty-btn {
    height: 28px;
    width: 28px;
    font-size: 21px;
    padding-top: 4px;
  }

  .p-quentity .input-qty {
    width: 70px;
  }

  .more-product-dts {
    margin-top: 40px;
  }

  .more-product-dts .line {
    margin-bottom: 20px;
  }

  .more-product-dts .title {
    font-size: 20px;
  }

  .more-product-dts .desc,
  .more-product-dts .desc p {
    font-size: 16px;
  }

  .cart-sec .cart-dts ul li {
    flex-direction: column;
  }

  .cart-sec .cart-dts .p-img img {
    height: 160px;
    min-width: unset;
  }

  .totals-div .continue-checkout {
    padding: 7px;
    font-size: 16px;
  }

  .checkout-parts .list-steps li h3 {
    font-size: 19px;
    margin-bottom: 16px;
}

.checkout-parts .left-part .products-list {
  padding: 12px;
}

.left-part .products-list li .dts-prd h4 {
  margin-bottom: 10px;
}

.choose-payment .list-payment {
  grid-template-columns: repeat(1, 1fr);
  gap: 14px;
  margin-top: 25px;
}

.form-control {
  padding: 5px 10px;
}

.mt-7 {
  margin-top: 40px;
}

.btn-booknow.mt-7 {
  padding: 7px 25px;
}

}